{% extends 'base.html.twig' %}

{% block title %}Projet {{ obj.name }}{% endblock %}

{% block body %}
    <div {{ stimulus_controller('symfony/ux-swup/swup') }} data-turbo="false">
        <div id="swup">
            {% include '_commons/_header.html.twig' %}
            <section class="min-h-screen z-1 flex items-center relative bg-gradient-to-bl from-transparent to-black">
                <img src="{{ asset(obj.mainImage) }}" alt="Background" class="object-cover absolute inset-0 w-full h-screen opacity-40 blur-sm">
                <div class="relative z-10 mx-[5%] mt-[15%] lg:mx-[15%]">
                    <div>
                        <div {{ react_component('Text', {name: 'Projet ' ~ obj.name, delay: 500,
                            class: 'text-amber-600 text-4xl mb-4 lg:text-6xl lg:mb-10'}) }}></div>
                        <div {{ react_component('Text', {name: obj.shortDescription, delay: 900,
                            class: 'text-white text-3xl'}) }}></div>
                    </div>
                </div>
            </section>
            <section class="py-16">
                <p class="text-xl mb-6 text-center lg:text-2xl text-white">Stack Technique</p>
                <div class="flex flex-wrap justify-center gap-4">
                    {% for tech in obj.technologies %}
                        <p class="bg-amber-500 px-2 rounded-full uppercase text-base font-bold">{{ tech }}</p>
                    {% endfor %}
                </div>
            </section>
            <section class="py-16">
                <div class="grid grid-cols-1 justify-items-center justify-around lg:grid-cols-2 lg:gap-12">
                    <div class="w-full px-4">
                        <p class="text-xl text-center lg:text-2xl text-white">Liens</p>
                        <div>
                            {% for github in obj.github %}
                                <a target="_blank" href="{{ github }}"
                                   class="bg-amber-500 px-2 rounded-full uppercase text-base font-bold">Lien Github {{ loop.index > 1 ? loop.index : '' }}</a>
                            {% endfor %}
                            {% if obj.figma is defined %}
                                <a target="_blank" href="{{ obj.figma  }}"
                                    class="bg-amber-500 px-2 rounded-full uppercase text-base font-bold">Maquettes Figma</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-full px-4">
                        <p class="text-xl text-center lg:text-2xl text-white">Images</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
